<!DOCTYPE html>
<html>
<head>
      <title>Katemu | <%= yield(:title) %></title>


      <%= favicon_link_tag 'favicon.png' %>
      <%= favicon_link_tag 'apple-touch-icon.png', rel: 'apple-touch-icon', type: 'image/png' %>

      <meta name="apple-mobile-web-app-capable" content="yes">

      <meta name="apple-mobile-web-app-status-bar-style" content="white-translucent" >

      <meta name="apple-mobile-web-app-title" content="Katemu">

      <meta name="viewport" content="initial-scale=1">

      <!-- iPhone -->
      <link rel="apple-touch-startup-image" href="<%= asset_path('apple-touch-startup-image-320x460.png') %>"
            media="(device-width: 320px) and (device-height: 480px)
                     and (-webkit-device-pixel-ratio: 1)">

      <!-- iPhone (Retina) -->
      <link rel="apple-touch-startup-image" href="<%= asset_path('apple-touch-startup-image-640x920.png') %>"
            media="(device-width: 320px) and (device-height: 480px)
                     and (-webkit-device-pixel-ratio: 2)">

      <!-- iPhone 5 -->
      <link rel="apple-touch-startup-image" href="<%= asset_path('apple-touch-startup-image-640x1136.png') %>"
            media="(device-width: 320px) and (device-height: 568px)
                     and (-webkit-device-pixel-ratio: 2)">


      <style>html { -webkit-text-size-adjust: 100%; }</style>

      <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
      <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
      <%= csrf_meta_tags %>

</head>

<body>
    <%= render 'layouts/header' %>

<div class="container">
    <%= yield %>
</div>

    <%= render 'layouts/footer' %>


</body>
</html>
