<!DOCTYPE html>
<html>
<head>
      <title>Katemu | <%= yield(:title) %></title>


      <%= favicon_link_tag 'favicon.png' %>
      <%= favicon_link_tag 'apple-touch-icon.png', rel: 'apple-touch-icon', type: 'image/png' %>

      <meta name="apple-mobile-web-app-capable" content="yes">

      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

      <meta name="apple-mobile-web-app-title" content="Katemu">

      <style>html { -webkit-text-size-adjust: 100%; }</style>

      <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
      <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
      <%= csrf_meta_tags %>

      <!-- iPhone -->
      <link href="/assets/apple-touch-startup-image-320x460-bf98d59c8901da51ce1f6bbfd9358051.png"
            media="(device-width: 320px) and (device-height: 480px)
                     and (-webkit-device-pixel-ratio: 1)"
            rel="apple-touch-startup-image">

      <!-- iPhone (Retina) -->
      <link href="/assets/apple-touch-startup-image-640x920-92df487bdf59706df4af7ae1ca7a5342.png"
            media="(device-width: 320px) and (device-height: 480px)
                     and (-webkit-device-pixel-ratio: 2)"
            rel="apple-touch-startup-image">

      <!-- iPhone 5 -->
      <link href="/assets/apple-touch-startup-image-640x1096-d0b8c09dae740e2ad53395c3770ac0c8.png"
            media="(device-width: 320px) and (device-height: 568px)
                     and (-webkit-device-pixel-ratio: 2)"
            rel="apple-touch-startup-image">


</head>

<body>
    <%= render 'layouts/header' %>

<div class="container">
    <%= yield %>
</div>

    <%= render 'layouts/footer' %>

</body>
</html>
